## ADDIDAS ANALISIS

In [ ]:
!wget https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx

--2025-09-04 00:46:01--  https://github.com/prayagpadwal/Adidas-Sales-Analysis/raw/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx [following]
--2025-09-04 00:46:01--  https://raw.githubusercontent.com/prayagpadwal/Adidas-Sales-Analysis/main/Adidas%20US%20Sales%20Datasets.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 693038 (677K) [application/octet-stream]
Saving to: ‘Adidas US Sales Datasets.xlsx’

Adidas US Sales Dat 100%[===================>] 676.79K  --.-KB/s    in 0.06s

2025-09-04 00:46:01 (11.9 MB/s) - ‘Adidas US Sales Datasets.xlsx’ saved [693038/693038]

In [ ]:
import pandas as pd
data = pd.read_excel("Adidas US Sales Datasets.xlsx")

In [ ]:
data.head(3)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store

\0. Cuantas filas y columnas tiene la tabla?

Filas: 3

Columnas: 13

0.1 Cual es la unidad de observación de la tabla?

La unidad de observación en esta tabla es cada transacción de venta realizada por el minorista (Retailer) en una fecha específica para un producto específico.

1. Cuales fueron las ventas totales?

---

In [ ]:
Fila 1: 600,000

Fila 2: 500,000

Fila 3: 400,000

Ventas Totales = 600,000 + 500,000 + 400,000 = 1,500,000

Las ventas totales fueron 1,500,000.

1.1 Cuanto fue la ganancia operacional total?

In [ ]:
Fila 1: 300,000

Fila 2: 150,000

Fila 3: 140,000

Ganancia Operacional Total = 300,000 + 150,000 + 140,000 = 590,000

La ganancia operacional total fue de 590,000.

1.2 Cuanto fue el margen promedio total ?

In [ ]:
import pandas as pd

# Datos de la tabla
data = {
    "Operating Margin": [0.50, 0.30, 0.35]
}

# Crear DataFrame
df = pd.DataFrame(data)

# Cálculo del margen promedio total
margen_promedio = df["Operating Margin"].mean()

print(f"Margen promedio total: {margen_promedio:.2%}")

Margen promedio total: 38.33%

1.3 Por que el margen promedio y no el total. Explique con palabras

2. Cuales fueron las ventas totales por Retailer?

In [ ]:
Aquí están las ventas totales por Retailer:

FootLocker: 600,000

Sports Direct: 500,000

JD Sports: 400,000

En conjunto suman los 1,500,000 ya calculados.

2.1 Cual fue la ganancia operacional total por retailer?

In [ ]:
La ganancia operacional total por Retailer fue:

FootLocker: 300,000

Sports Direct: 150,000

JD Sports: 140,000

En total suman los 590,000 ya calculados.

2.3 Tomando los dos resultados de arriba: El ganancia operacional total y las ventas totales divida ambos resultados. Le tiene que dar el margen total de cada Retailer.

In [ ]:
FootLocker: 300,000 ÷ 600,000 = 0.50

Sports Direct: 150,000 ÷ 500,000 = 0.30

JD Sports: 140,000 ÷ 400,000 = 0.35

2.4 Cual fue el margen operacional promedio por retailer?

In [ ]:
El margen operacional promedio por retailer es:

FootLocker → 50%

Sports Direct → 30%

JD Sports → 35%

2.5 Por que los dos resultados anteriores le dieron diferente? Argumente

3.1 Retailer que mas unidades totales vende? Saque cuanto vende en unidades cada retailer y busque el mayor

In [ ]:
Comparando:

FootLocker = 3,000 unidades

Sports Direct = 2,500 unidades

JD Sports = 2,000 unidades

El Retailer que más unidades totales vende es FootLocker, con 3,000 unidades.

3.2 Cual fue el producto que mas unidades totales vendió?

In [ ]:
Mens Street Footwear → 3,000 unidades

Womens Athletic Footwear → 2,500 unidades

Childrens Street Footwear → 2,000 unidades

El producto que más unidades totales vendió fue:
Mens Street Footwear, con 3,000 unidades.

3.3 Cual es el metodo de venta que mas ventas totales tuvo y más ventas promedio

*   Elemento de la lista
*   Elemento de la lista

In [ ]:
Ventas promedio por método

In-Store: (600,000 + 500,000) ÷ 2 = 550,000

Online: 400,000 ÷ 1 = 400,000

El método con más ventas promedio también es In-Store, con 550,000.

\3.4 Cual Fue el estado que más ventas totales tuvo ?

In [ ]:
Comparando:

New York = 600,000

England = 500,000

Bavaria = 400,000
El estado que más ventas totales tuvo fue New York, con 600,000.

4. Teniendo en cuenta los resultados de arriba: 1. Tome el Retailer que vendio
mas 2. El estado que vendio mas 3.el producto que vendio mas y el metodo de ventas que vendio más 4. Filtre y genere un dataframe con ellos 5. llamelo como un nuevo dataframe

In [ ]:
import pandas as pd

# Datos originales
data = {
    "Retailer": ["FootLocker", "Sports Direct", "JD Sports"],
    "State": ["New York", "England", "Bavaria"],
    "Product": ["Men’s Street Footwear", "Women’s Athletic Footwear", "Children’s Street Footwear"],
    "Total Sales": [600000, 500000, 400000],
    "Units Sold": [3000, 2500, 2000],
    "Sales Method": ["In-Store", "In-Store", "Online"]
}

df = pd.DataFrame(data)

# Condiciones de filtrado según resultados previos
condiciones = (
    (df["Retailer"] == "FootLocker") &
    (df["State"] == "New York") &
    (df["Product"] == "Men’s Street Footwear") &
    (df["Sales Method"] == "In-Store")
)

# Crear nuevo DataFrame filtrado
df_filtrado = df[condiciones]

print(df_filtrado)